<body itemscope="" itemtype="http://schema.org/PetStore">
    <h1>CARAAAi</h1>
	<!-- start header -->
	
	<div class="box-download-app">
	    <a href="javascript:;" class="banner-mobile-close">X</a>
	    <span class="logo-mb-app"></span>
	    <span class="content-mb-app" style=" margin-top: 11px;">
            <span style="font-size: 15px; padding:10px 0px 0px 5px; margin: 0; color: #fff;">Aplicativo Cobasi</span>
            <strong style=" color: #ffff66; float: left; font-size: 17px;margin-left: 4px;">10% de desconto</strong><p style=" float: left; ">na 1º compra pelo app</p>
        </span>
	      <a href="" class="btn-download"><span class="btn-download-app"></span></a>
	</div>
	
	<vtex:template id="header" />
	
	<!--<vtex:template id="7w-header-teste" />-->
	<!-- end header -->
	
	<!-- start main -->
	<main>
	<!-- start Faixa Promocional -->
		<section id="faixa-promocional" style="display: none;">
			<div class="container">
				<vtex:contentPlaceHolder id="7w-faixa-promocional" />
		<!--		<ul style="width: 252px;height: 0px;display: inline-block;float: right;" class="d-list-apps" >-->
  <!--                  <li><a href="https://play.google.com/store/apps/details?id=com.root.cobasi.Activities"><img src="//cobasi.vteximg.com.br/arquivos/bt-android.png" alt="app cobasi" title="app cobasi android" style="float: right;margin-right: 31px;z-index: 150;position: relative;margin-top: -70px;" /></a></li>-->
  <!--                  <li><a href="https://itunes.apple.com/br/app/cobasi/id1237962997?mt=8"><img src="//cobasi.vteximg.com.br/arquivos/bt-apple.png" alt="app cobasi" title="app cobasi apple" style="float: right;margin-right: 157px;z-index: 150;margin-top: -70px;position: relative;" /></a></li>-->
  <!--              </ul>-->
				<vtex:contentPlaceHolder id="7w-faixa-promocional-mobile" />
			</div>
		</section>		
		<!-- end Faixa Promocional -->
		
	<vtex:contentPlaceHolder id="7w-faixa-promocional"/>
	
		<!-- start Banner Hero-->
		<section id="banner">
			<div class="container">
				<div class="banner-hero">
					<vtex:contentPlaceHolder id="7w-banner-hero" />
				</div>
				
				<div class="banner-side">
					<vtex:contentPlaceHolder id="7w-banner-hero-side" />
				</div>
			</div>
		</section>		
		<!-- end Banner Hero-->
		
		<!-- start Descricao -->
		<section id="conteudo-descricao">
			<div class="container">
				<h1>
					Petshop
				</h1>
				
				<p>
					Os bichos de estimação também fazem parte da nossa família e merecem todo o conforto e cuidado com higiene e beleza. Um lar bem cuidado e limpo é fundamental para o bem-estar de nossos animais, da mesma forma que nós precisamos de condições básicas para viver uma vida longa e saudável.
				</p>
			</div>
		</section>		
		<!-- end Descricao -->
		
		<!-- start Newsletter Box -->
		<section id="box-newsletter">
			<div class="container">
				<div class="news-bar">
					
					<vtex:template id="novo-newsletter-optin" />
					
					<!--
					<p>Receba nossas ofertas por e-mail e <span>ganhe 10% de desconto na primeira compra</span></p>
					<input type="text" name="nome" placeholder="Digite seu nome"/>
					<input type="text" name="nome" placeholder="Digite seu e-mail"/>
					<button type="submit" name="cadastrar" value="cadastrar">
						<p>Cadastrar</p>
					</button>
					-->
				</div>
			</div>
		</section>		
		<!-- end Newsletter Box -->
		
		<!-- start Marcas -->
		<section id="carousel-marcas">
			<div class="container">
				<div class="marcas-bar">
					<vtex:contentPlaceHolder id="7w-marcas" />
				</div>
			</div>
		</section>			
		<!-- end Marcas -->
				
		<!-- start Vitrine -->
		<section id="conteudo-vitrine">
			<div class="container">
				<!-- start Vitrine Caes-->
				<div class="vitrine-board">
					<div class="vitrine-side">
						<div class="banner-promo-side">
							<vtex:contentPlaceHolder id="7w-banner-promo-caes" />
						</div>			
					</div>	
					
					<div class="vitrine-box" id="vitrine-caes">
						<vtex:contentPlaceHolder id="colecao-mais-vendidos-caes" />
					</div>
				</div>
				<!-- end Vitrine Caes-->
				
				<!-- start Vitrine Gatos-->
				<div class="vitrine-board">
					<div class="vitrine-side">
						<div class="banner-promo-side">
							<vtex:contentPlaceHolder id="7w-banner-promo-gatos" />
						</div>			
					</div>	
					
					<div class="vitrine-box" id="vitrine-gatos">
						<vtex:contentPlaceHolder id="colecao-mais-vendidos-gatos" />
					</div>
				</div>
				<!-- end Vitrine Gatos-->
				
				<!-- start Vitrine Farmácia-->
				<div class="vitrine-board">
					<div class="vitrine-side">
						<div class="banner-promo-side">
							<vtex:contentPlaceHolder id="7w-banner-farmacia" />
						</div>			
					</div>	
					
					<div class="vitrine-box" id="vitrine-farmacia">
						<vtex:contentPlaceHolder id="colecao-mais-vendidos-farmacia" />
					</div>
				</div>
				<!-- start Vitrine Farmacia-->
			</div>
		</section>
		<!-- end Vitrine -->
		
		<!-- start Nav Racas -->
		<section id="conteudo-racas">
			<div class="container">
				<p class="section-title">
					Compre por raça
				</p>
				<div class="title-line"></div>
				
				<div class="raca-items">
					<div class="raca-item">
						<div class="raca-title">
							<a href="javascript:;">Cães</a>
						</div>
						
						<div class="raca-list">
							<ul>
								<li>
									<a href="/Boxer">Boxer</a>
								</li>
								
								<li>
									<a href="/Bulldog">Bulldog</a>
								</li>
								
								<li>
									<a href="/Dachshund">Dachshund</a>
								</li>
								
								<li>
									<a href="/Golden%20Retriever">Golden Retriever</a>
								</li>
							</ul>
							
							<ul>
								<li>
									<a href="/Labrador%20Retriever">Labrador Retriever</a>
								</li>
								
								<li>
									<a href="/Lhasa%20Apso">Lhasa Apso</a>
								</li>
								
								<li>
									<a href="/Malt%C3%AAs">Maltês</a>
								</li>
								
								<li>
									<a href="/Miniature%20Schnauzer">Miniature Schnauzer</a>
								</li>
							</ul>
							
							<ul>
								<li>
									<a href="/Pastor%20Alem%C3%A3o">Pastor Alemão</a>
								</li>
								
								<li>
									<a href="/Poodle">Poodle</a>
								</li>
								
								<li>
									<a href="/Pug">Pug</a>
								</li>
								
								<li>
									<a href="/Rottweiler">Rottweiler</a>
								</li>
							</ul>
							
							<ul>
								<li>
									<a href="/Schnauzer">Schnauzer</a>
								</li>
								
								<li>
									<a href="/Shih%20Tzu">Shih Tzu</a>
								</li>
								
								<li>
									<a href="/West%20Highland%20White%20Terrier">White Terrier</a>
								</li>
								
								<li>
									<a href="/Yorkshire%20Terrier">Yorkshire Terrier</a>
								</li>
							</ul>
						</div>
					</div>
					
					<div class="raca-item">
						<div class="raca-title">
							<a href="javascript:;">Gatos</a>
						</div>
						
						<div class="raca-list">
							<ul>
								<li>
									<a href="/maine%20coon">Maine Coon</a>
								</li>
								
								<li>
									<a href="/Persian">Persian</a>
								</li>
								
								<li>
									<a href="/Siames">Siames</a>
								</li>
								
								<li>
									<a style="font-size:0" href="javascript:;">.</a>
								</li>
							</ul>							
						</div>
					</div>
					
					<div class="raca-item">
						<div class="raca-title">
							<a href="javascript:;">Aves</a>
						</div>
						
						<div class="raca-list">
							<ul>
								<li>
									<a href="/calopsita">Calopsita</a>
								</li>
								
								<li>
									<a href="/agapornis">Agapornis</a>
								</li>
								
								<li>
									<a href="/cacatua">Cacatua</a>
								</li>
								
								<li>
									<a href="/papagaio">Papagaio</a>
								</li>
							</ul>
							
							<ul>
								<li>
									<a href="/periquito">Periquito</a>
								</li>
								
								<li>
									<a href="/canario">Canário</a>
								</li>
								
								<li>
									<a href="/beija-flor">Beija Flor</a>
								</li>
								
								<li>
									<a href="/arara">Arara</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>		
		<!-- end Nav Racas -->
		
		<!-- inicio da implementacao do subtemplate Kits Prontos Cobasi
		<vtex:template id="kits-prontos-cobasi" /> -->
		<!-- final da implementacao do subtemplate Kits Prontos Cobasi -->
		
		<!-- start Maps -->
		<section id="conteudo-maps">
			<div class="container">
				<p class="section-title">
					Nossas Lojas
				</p>
				<div class="title-line"></div>
				
				<div class="maps-side">
					<div class="maps-list">
						<ul id="tabs" class="nav nav-stacked" data-tabs="tabs"></ul>
					</div>
					
					<div class="maps-side-bt">
						<a href="http://www.cobasi.com.br/institucional/nossas-lojas">Clique aqui para ver todas as lojas</a>
					</div>	
				</div>
				
				<div class="maps-box">
					<div id="map-canvas"></div>
				</div>
				
			</div>
		</section>
		<!-- end Maps -->
		
		<!-- start Boxes -->
		<section id="conteudo-boxes" >
			<div class="container">
				<div class="box-items">
					<div class="box-item">
						<img src="/arquivos/img-box1.png" alt="Pet Shop Cobasi" title="Pet Shop Cobasi" width="199" height="199" />
						<h2 class="box-title">PET SHOP COBASI: <br/>O SHOPPING DO SEU ANIMAL</h2>
						<p>A Cobasi é um <strong>pet shopping</strong> com uma variedade surpreendente de produtos para o lazer e a saúde do bichinho de estimação. Encontre aqui remédios, roupas, rações, brinquedos e acessórios para seu pet.</p>					
					</div>
					
					<div class="box-item">
						<img src="/arquivos/img-box2.png" alt="Pet Shop Online" title="Pet Shop Online" width="199" height="199" />
						<h2 class="box-title">PET SHOP ONLINE: COMPRE EM <br/>POUCOS CLIQUES E RECEBA EM CASA</h2>
						<p>As vantagens da internet em nosso dia a dia são inúmeras, e uma delas é a possibilidade de realizar uma compra online do seu celular, computador ou tablet. Com o nosso pet shop online você faz compras para o seu bichinho de estimação em poucos minutos, com apenas alguns cliques. Não existe compra melhor do que a feita pelo sofá de casa!</p>					
					</div>
					
					<div class="box-item">
						<img src="/arquivos/img-box3.png" alt="Pet Shop Encontre" title="Pet Shop Encontre" width="199" height="199" />
						<h2 class="box-title">PET: ENCONTRE TUDO O QUE VOCÊ PRECISA PARA SEU ANIMAL DE ESTIMAÇÃO</h2>
						<p>Na Cobasi você encontra os melhores <strong>produtos para pet shop</strong>. Alimentação e acessórios, higiene e beleza, e também farmácia, são alguns dos vários setores onde você encontra de tudo para o bem estar do seu bichinho.</p>					
					</div>
					
					<div class="box-item">
						<img src="/arquivos/img-box4.png" alt="Pet Shop Presente" title="Pet Shop Presente" width="199" height="199" />
						<h2 class="box-title">PETSHOP PRESENTE <br />EM SP, RJ, DF, PR e RS</h2>
						<p>A Cobasi é pioneira em <strong>lojas de animais</strong> de estimação, e está presente nos estados de São Paulo, Rio de Janeiro, Paraná e Rio Grande do Sul. Não perca a oportunidade de levar seu cão e gato para passear em uma das nossas lojas. Os bichinhos de estimação também merecem um dia de compras!</p>					
					</div>
				</div>
			</div>
		</section>
		<!-- end Boxes -->
		
		<div style="display:none;">
			<!-- inicio da implementacao do subtemplate Institucional Cobasi -->
			<vtex:template id="institucional-cobasi" />
			<!-- final da implementacao do subtemplate Institucional Cobasi -->
		</div>
		
		<!-- start Mobile -->
		<section id="conteudo-mobile">
			<div class="container">
				<div class="area-de-busca">
					<div class="busca-title">
						<img src="/arquivos/buscar-dog-mobile.png" />
						<p>O que você está procurando?</p>
					</div>
					<div>
						<div>							
							<input type="text" name="termo" id="termo" placeholder="Digite o nome do produto"/>
							<select name="categoria" id="categoria">
								<option value="">Qual é o seu animal de estimação?</option>
								<option value="caes">Cães</option>
								<option value="gatos">Gatos</option>
								<option value="aves">Aves</option>
								<option value="peixes">Peixes</option>
								<option value="outros-animais">Outros Animais</option>
							</select>
							<button id="buscar" style="cursor:pointer;">BUSCAR</button>
						</div>
					</div>
				</div>
				
				<!--BANNER PRINCIPAL [MOBILE]-->
				<section>
					<div class="banner-principal-mobile-wrap">
						<img src="/arquivos/imagem-busca-mobile-home.jpg?v=636356253722430000" alt="O que você está procurando?" title="O que você está procurando?"/>
					</div>
				</section>
				<!--/BANNER PRINCIPAL [MOBILE]-->
				
				<!--BARRA DE BUSCA [MOBILE]-->
				<section>
					<div class="search-bar-mobile-wrap">
						<vtex.cmc:fullTextSearchBox />
					</div>
				</section>
				<!--/BARRA DE BUSCA [MOBILE]-->
				
				<!--SESSÃO DEPARTAMENTOS [MOBILE]-->
				<section>

	                <div class="deptos">
						
						<!--DEPTOS-HEADER-->
	                	<div class="deptos-header">
	                		<h2>Visite nossos departamentos</h2>
	                	</div>
	                	<!--/DEPTOS-HEADER-->
	                	
	                	<!--DEPTOS-ROW-2-->
	                	<div class="deptos-row">
	                
	                		<!--ITEM 1 - CAES-->
	                		<a href="http://www.cobasi.com.br/cachorros">
	                			<div class="item-depto">
	                				<img src="/arquivos/icon-caes-home.png?v=636324268744300000" alt="Cobasi - Cães" title="Cobasi -  Cães"/>
	                			</div>
	                		</a><!--/ITEM 1 - CAES-->
	                
	                		<!--ITEM 2 - GATOS-->
	                		<a href="http://www.cobasi.com.br/gatos">
	                			<div class="item-depto">
	                				<img src="/arquivos/icon-gatos-home.png?v=636324268763930000" alt="Cobasi - Gatos" title="Cobasi - Gatos"/>
	                			</div>
	                		</a><!--/ITEM 2 - GATOS-->
	                		
	                		<!--ITEM 3 - AVES-->
	                		<a href="http://www.cobasi.com.br/aves">
	                			<div class="item-depto">
	                				<img src="/arquivos/icon-aves-home.png?v=636324268736900000" alt="Cobasi - Aves" title="Cobasi - Aves"/>
	                			</div>
	                		</a><!--/ITEM 3 - AVES-->
	                
	                	</div>
	                	<!--/DEPTOS-ROW-2-->
	                
	                	<!--DEPTOS-ROW-3-->
	                	<div class="deptos-row">
	                		<a href="http://www.cobasi.com.br/peixes">
	                			<div class="item-depto">
	                				<img src="/arquivos/icon-peixes-home.png?v=636324268793970000" alt="Cobasi - Peixes" title="Cobasi - Peixes"/>
	                			</div>
	                		</a>
	                		<a href="http://www.cobasi.com.br/outros-animais">
	                			<div class="item-depto">
	                				<img src="/arquivos/icon-outros-home.png?v=636324268784000000" alt="Cobasi - Diversos" title="Cobasi - Diversos"/>
	                			</div>
	                		</a>
	                		<a href="http://www.cobasi.com.br/casa-jardim">
	                			<div class="item-depto">
	                				<img src="/arquivos/icon-jardim-home.png?v=636324268773930000" alt="Cobasi - Jardim" title="Cobasi - Jardim"/>
	                			</div>
	                		</a>
	                	</div>
	                	<!--/DEPTOS-ROW-3-->
	                </div>
                </section>
                <!--/SESSÃO DEPARTAMENTOS [MOBILE]-->
				
				<div class="vitrine-mobile">
					<vtex:contentPlaceHolder id="colecao-mais-vendidos-mobile" />
				</div>
				
				<div class="vitrine-mobile">
					<vtex:contentPlaceHolder id="colecao-destaques-mobile" />
				</div>				
			</div>
		</section>
		<!-- end Mobile -->
	</main>
	<!-- end main -->
	
	<!-- start modal -->
	<vtex:template id="modal-boxes" />
	<!-- end modal -->
	
	<!-- start footer -->
	<vtex:template id="footer" />
	<!-- end footer -->
</body>